            body{
                background-color: #f5f6f7;
                font-family: 'Gowun Dodum', sans-serif;
            }
            ul {list-style-type: none;}
            input {height:40px;}
            a {text-decoration: none; 
                color: rgb(114, 114, 114);}
            .all {
                padding-top:15px;
                margin:0 auto;
                width:995px;
            }
            .name{
                margin: 70px 0px 0px 0px;
            }
            .logo{
                display: flex;
                /*position : relative;*/
                height: 100px;
                /*left: 32.3%;*/
                /*top: 70px;*/
                z-index: 10;
                margin: 0 auto;
            }
            .aa{
                height: 400px;
                /* background-color: #f5f6f7; */
                text-align: center;
                width: 600px;
                padding-top: 30px;
                width: 600px;
                /* position: relative; */
                /* left: 19.25%; */
                 margin: 0 auto;
            }
            .login_menu > ul{
                display: inline-block;
            }
            .login_icon{
                width: 30px;
                float: left;
                margin-left: 62px;
            }
            h2{
                font-size: 20px;
                /* color: gray; */
                /*position: absolute;
                left: 110px;*/
                /*top: 236.2px; */
                /* right: 20%; */
                float: left;
                margin: 0px 0px 0px 20px;
            }
            .aa li{ margin-left:-39px;}

            /*.aa a:hover{ color:goldenrod;}*/

            .aa2{
                margin:0 auto;
                width:470px; 
                height: 38px;
                background-color: rgb(89, 161, 165);
                border-radius: 7px;
                position: relative;
                top: 70px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-weight: bold;
                cursor: pointer;
                transition: all .25s;
                color: white;
                font-size:15px;
            }

            .id{
                border-radius: 7px 7px 0px 0px;
                width: 457px;
                height: 50px;
                border-color: #b8b8b8;
                box-shadow: none;
                border-style: solid;
            }
            .pw{
                border-radius: 0px 0px 7px 7px;
                width: 457px;
                height: 50px;
                border-color: #b8b8b8;
                box-shadow: none;
                border-style: solid;
            }

            .login_system{
                clear: both;
                position: relative;
                top: 30px;
            }
            
            .aa >u>a{
                color:gray;
                font-size:13px;
                position: relative;
                top: 70px;
            }
            u{
                position: relative;
                top: 70px;
            }
            /* 7 */
            .ios-15 {
              background: linear-gradient(45deg, #64b3f4 0%, #c2e59c 100%);
              line-height: 50px;
              padding: 0;
              border: none;
              width: 464px;
              margin: 0 auto;
              position: relative;
              top: 45px;
              border-radius: 5px;
              height: 50px;
            }
            .ios-15 span {
              position: relative;
              display: block;
              width: 100%;
              height: 100%;
              color: rgb(72, 74, 77);
              font-weight: bold;
            }
            .ios-15:before,
            .ios-15:after {
              position: absolute;
              content: "";
              right: 0;
              bottom: 0;
              background: #90be6d;
              box-shadow:
              -7px -7px 20px 0px rgba(255,255,255,.9),
              -4px -4px 5px 0px rgba(255,255,255,.9),
              7px 7px 20px 0px rgba(0,0,0,.2),
              4px 4px 5px 0px rgba(0,0,0,.3);
              transition: all 0.3s ease;
            }
            .ios-15:before{
              height: 0%;
              width: 2px;
            }
            .ios-15:after {
              width: 0%;
              height: 2px;
            }
            .ios-15:hover{
              color: 2a9d8f;
              background: transparent;
            }
            .ios-15:hover:before {
              height: 100%;
            }
            .ios-15:hover:after {
              width: 100%;
            }
            .ios-15 span:before,
            .ios-15 span:after {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              background: #2a9d8f;
              box-shadow:
              -7px -7px 20px 0px rgba(255,255,255,.9),
              -4px -4px 5px 0px rgba(255,255,255,.9),
              7px 7px 20px 0px rgba(0,0,0,.2),
              4px 4px 5px 0px rgba(0,0,0,.3);
              transition: all 0.3s ease;  
            }
            .ios-15 span:before {
              width: 2px;
              height: 0%;
            }
            .ios-15 span:after {
              height: 2px;
              width: 0%;
            }
            .ios-15 span:hover:before {
              height: 100%;
              color: rgb(72, 74, 77);
            }
            .ios-15 span:hover:after {
              width: 100%;
            }
            .ios-15 span:hover{
              color: #2a9d8f;
            }